
.pet_image{
	height: 400px;
}

.comp{
	display: inline-block;
}


.board{
	padding: 0 ;
	margin-top: 60px;
	text-align: 'center';
}


.pet_btn{
	margin:10px;
}

.title{
	textAlign : 'center';
	fontSize: '2em';
	color: #601DAD;
	margin: '15p';
}


.boton{
	margin-top: 30px;
	margin-right: 5px;
	margin-left: 30%;
	text-align: center;
}
